<li class="float-right">
    {{burger_name}}
    <button class="change-devoured btn btn-primary float-right" data-id="{{id}}" data-chdevoured="{{devoured}}">
        {{#if devoured}} DEVOUR {{else}} REMAKE  {{/if}}
    </button>
</li>